#post-content{
    margin-top: 2%;
    margin-bottom: 1.5%;
}

.body{
    padding: 1%;
    width: 98%;
}

#div-posts{
    margin-top: 2%;
}

.each-post{
    margin-bottom: 1.5%;
}

.active{
    background-color: #afd2e8;
}

.pagination-button{
    cursor: pointer;
}

.pagination-number {
    cursor: pointer;
}

.current-page{
    background-color: rgb(172, 222, 241) !important;
}

.each-post-content{
    min-height: 5%;
    margin: 1%;
    padding: 1% !important;
    position: relative;
}

.button-image{
    background-color: transparent;
    border: none;
}

.post-action{
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
}

.update-post-wrapper,.update-wrapper{
    padding: 5%;
    display: none;
}

.update-post-button, .update-button{
    margin-top: 5%;
    text-align: center;
}

#cancel-update-post-button, #cancel-update-user-button{
    margin-right: 1%;
}

#login-feedback{
    display: none;
}
